{% extends 'base.html' %}
{% block orderactive %} active {% endblock orderactive %} active 
{% load static %}    
{% block body %}

<div class="container-fluid" style = "margin-top : 100px;">
	<div class="row">
		<div class="col-sm-12">
			<div id="inam" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" >
					<div class="carousel-item active">
						 <div class="container" >
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px; margin-left: 30px;">
						 				<img src={% static 'proteiladuu.jpg' %} class="card-img-top" style = "height : 200px;">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you </h4>
						 					<p class="card-text">Skin masks help us to </p>
						 					<button type="button" class="btn btn-warning">Buy Now</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px; margin-left: 30px;">
						 				<img src= {% static 'besanladuu.jpg' %} class="card-img-top" style = "height : 200px;">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you </h4>
						 					<p class="card-text">Skin masks help us to </p>
						 					<button type="button" class="btn btn-warning">Buy Now</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px; margin-left: 30px;">
						 				<img src= {% static 'kajukatli.jpg' %} class="card-img-top" style = "height : 200px;">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you </h4>
						 					<p class="card-text">Skin masks help us to </p>
						 					<button type="button" class="btn btn-warning">Buy Now</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		
						 	</div>
						 	
						 </div>

						
					</div>
					<div class="carousel-item">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px; margin-left: 30px;">
						 				<img src={% static 'besanladuu.jpg' %} class="card-img-top" style = "height : 200px;">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you </h4>
						 					<p class="card-text">Skin masks help us to </p>
						 					<button type="button" class="btn btn-warning">Buy Now</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px; margin-left: 30px;">
						 				<img src={% static 'kajukatli.jpg' %} class="card-img-top" style = "height : 200px;">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you </h4>
						 					<p class="card-text">Skin masks help us to </p>
						 					<button type="button" class="btn btn-warning">Buy Now</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px; margin-left: 30px;">
						 				<img src={% static 'laduu.jpg' %} class="card-img-top" style = "height : 200px;">
						 				<div class="card-body">
						 					<h4 class="card-title">Why you </h4>
						 					<p class="card-text">Skin masks help us to </p>
						 					<button type="button" class="btn btn-warning">Buy Now</button>
						 					
						 				</div>
						 				
						 			</div>
						 			
						 		</div>
						 		
						 	</div>
						 	
						 </div>

						
					</div>
					
				</div>
				<a href="#inam" class="carousel-control-prev" data-slide="prev">
					<span class="carousel-control-prev-icon" style = "background-color : blue;"></span>
				</a>
				<a href="#inam" class="carousel-control-next" data-slide="next">
					<span class="carousel-control-next-icon" style = "background-color : blue;"></span>
				</a>
				
			</div>
			
		</div>
		
	</div>
	
</div>
       

  {% endblock body %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    